<!--The content below is only a placeholder and can be replaced.-->
<!--<app-heroes></app-heroes>
<app-courses (click)="onCoursesClicked($event)"></app-courses>

<like
[likescount]= "tweet.likesCount"
[isActive] ="tweet.isLiked" 
>
<ng-container class="heading">heading data from app component html</ng-container>
<ng-container class="body">body data from app component html</ng-container>
</like>



<contact-form></contact-form>
-->
<!-- 
    <app-reactive-forms></app-reactive-forms>
<posts></posts>
-->
<app-nav></app-nav>
<router-outlet></router-outlet>
